    .desktop{
        display: none;
    }

    .mobile{
        display: initial !important;
    }

    nav#header span.header_container {
        min-width: 2em;
        margin-right: 0.2em;
        margin-left: 0.2em;
        padding-left: 0.2em;
        padding-top: 0.3em;
        padding-bottom: 0.3em;
        padding-right: 0.2em;
    }

    nav#header span.header_container:hover {
        border: 0.06em solid #ffffff00;
        background-color: #ffffff00;
    }

    nav#header img.header_icon{
        opacity: 1;
        width: 1.2em;
        height: 1.2em;
    }

    hr#header_separator{
        width: 90%;
        margin-top: 1em;
        margin-bottom: 1em;
    }

    div#footer table#footer_table{
        width: 95%;
    }

    div#footer img.footer_social_icon{
        width: 2em;
        margin: 0.2em;
    }

    div#footer a.lang img{
        height: 1.5em;
        margin: 0.2em;
        border-radius: 0.1em;
        border: 0.1em solid #555555;
        box-shadow: 0 0 0 #dde;
    }

    div#footer a.lang img:hover{
        box-shadow: 0 0 0 #111;
    }

    div.section{
        margin: 1em;
    }

    div.section div.entry_list{
        background-color: #efffef;
        border: 0.1em solid #aaffaaff;
    }
