# Make your credential files look like this

# Database configuration
database:
    name: 'XXXX'
    user: 'XXXX'
    password: 'XXXX'

# Mail server configuration
smtp:
    server: 'XXXX'
    port: 0001
    domain: 'XXXX'
    username: 'XXXX'
    password: 'XXXX'
    authentication: 'login'
    ssl: true
    #enable_starttls_auto: true
    openssl_verify_mode: 'none'
