#OS files
.directory
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db
*.swp

#IDE files
.kateproject.d/
.kateproject
.project
.settings
.externalToolBuilders

#Local server and deploy tools
deploy
server_*
.php_pid

#SQL custom data
sql/DES/
sql/PRE/
sql/DBG/

#Passwords file
.htpasswd*
application/config/auth.php_*

#Content images
public/img/content/*.png
public/img/content/*.svg
public/img/content/*/*.png
public/img/content/*/*.svg
public/img/content/*/*/*.png
public/img/content/*/*/*.svg
