#IDE files
.kateproject.d/
.kateproject
.project
.settings

#OS files
.directory
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db
*.swp

#Utility folders
3rdparty/
pending/
utils-local/
copy
remotecopy
remoteadmin
www-admin/redirect_s.php

#SQL data
sql/XX*

#Passwords file
.htpasswd*
auth.php_*
www-admin/.htpasswd
www/.htaccess_local

# Test environments-related files
.ht*_*

#3rd party software
www-admin/script/ckeditor
