#Kate files
.kateproject.d/
.kateproject

#OS files
.directory
.DS_Store
.DS_Store?
._*
.Trashes
ehthumbs.db
Thumbs.db

#Utility folders
3rdparty/
pending/
utils-local/
copy
remotecopy
remoteadmin
www-admin/redirect_s.php

#SQL data
sql/CUSTOM_ROWS.SQL
sql/DEBUG_ROWS.SQL

#Passwords file
www/.htpasswd
www-admin/.htpasswd
www/.htaccess_local
www-admin/.htaccess_local

#3rd party software
www-admin/script/ckeditor
