section{
  text-align: center;
  width: 90%;
  margin: auto;
}
section h3{
  text-align: left;
}
div.info_summary{
  display: inline-block;
  width: 72%;
  margin: 0;
  vertical-align: top;
  padding: 0;
  min-height: 13em;
  text-align: left;
}
@media screen and (max-width : 800px){
  div.info_summary{
    display: block;
    width: 100%;
    margin: 0;
    padding: 0;
  }
}

div.info_summary img.logo{
  padding: 0.5em;
  max-width: 100%;
  max-height: 18em;
  border-radius: 1em;
  float: left;
  margin: 0 2em 1em 0;
}
@media screen and (max-width : 800px){
  div.info_summary img.logo{
    margin: 0 2em 1em 0.4em;
    padding: 0.2em;
    width: 20vw;
    height: 20vw;
  }
}

div.info_summary h4{
  margin: 0.5em;
  font-style: italic;
}

div.info_summary div.text{
  margin: 2em;
  min-height: 7em;
}
@media screen and (max-width : 800px){
  div.info_summary div.text{
    margin: 0;
    min-height: 20vw;
  }
}
div.comment{
  font-style: italic;
  border: 0.1em solid .333;
  padding: 1.5em;
  box-shadow: 0 0 0.5em .111;
  margin: 1em auto;
  max-width: 55em;
  background: .dbffdb;
  rotate: -1deg;
  border-radius: 0.2em;
  line-height: 1.6em;
  text-align: left;
  display: inline-block;
}
@media screen and (max-width : 800px){
  div.comment{
    rotate: 0deg;
    margin: 0.5em;
    padding: 0.5em;
    box-shadow: 0 0 0;
  }
}
div.comment div.comment_title{
  font-family: 'Handwritten';
  display: block;
  width: 3em;
  font-size: 180%;
  float: left;
  line-height: 1;
  padding: 0.5em 0 0 0.5em;
  margin: 0 0.2em 0 -0.5em;
  rotate: -36deg;
}
@media screen and (max-width : 800px){
  div.comment div.comment_title{
    font-size: 110%;
    margin: 0 0.5em 0 0;
    line-height: 1;
  }
}
div.info_details{
  display: inline-block;
  width: 22%;
  vertical-align: top;
  margin: 0;
  border-left: 0.1em solid .aacaaa;
  /*background: linear-gradient(to right, .e5f0e500 0%, .e5f0e5ff 20%, .e5f0e5ff 80%, .e5f0e500 100%); */
  background: linear-gradient(to right, .e5f0e5ff 0%, .e5f0e5cc 30%, .e5f0e500 100%);
  padding: 1em;
  text-align: center;
}
@media screen and (max-width : 800px){
  div.info_details{
    text-align: center;
    display: block;
    width: 85%;
    margin: 0.5em auto;
    border-left: 0.1em solid .aacaaa;
    border-right: 0.1em solid .aacaaa;
    border-top: 0.1em solid .aacaaa;
    border-bottom: 0.1em solid .aacaaa;
    border-radius: 0.5em;
    /*background: linear-gradient(to right, .e5f0e500 0%, .e5f0e5ff 20%, .e5f0e5ff 80%, .e5f0e500 100%);*/
    padding: 0.5em;
  }
}

div.info_details div.details{
  margin: 0.5em 1.5em 0.5em 1.5em;
}
@media screen and (max-width : 800px){
  div.info_details div.details{
    margin: 0.5em 0;
    text-align: left;
  }
}

div.info_details div.details hr.details_separator{
  margin: 0.7em -0.5em 0.7em -0.5em;
  border: 0;
  color: .aacaaa;
  background-color: .aacaaa;
  border-top: 0.1em solid .aacaaa;
}
@media screen and (max-width : 800px){
  div.info_details div.details hr.details_separator{
    margin: 0.5em;
  }
}

div.info_details ul.urls{
  padding-top: 0.5em;
  text-align: center;
  border-bottom: 0.1em solid #000000;
  list-style-type: none;
}

div.info_details ul.urls a.url{
  display: block;
  margin-bottom: 1em;
  text-align: left;
}
div.info_details ul.urls a.url img.url{
  vertical-align: middle;
  width: 1.8em;
  height: 1.8em;
  margin-right: 0.5em;
}

div.info_details div.tags{
  border-bottom: 0.1em solid #000000;
}

div.info_details div.tags img{
  max-width: 3em;
  max-height: 3em;
  border: 0.15em solid #000000;
  border-radius: 50%;
  margin: auto 0.3em;
}

div.info_details div.license{
  color: #00000088;
}


div.info_details div.license img{
  max-width: 8em;
  max-height: 1.5em;
  vertical-align: middle;
  text-align: center;
  margin-left: 1em;
}


/* The image reel */
div#image_reel{
  display: block;
  margin: auto;
}

div#image_reel div.img{
  display:inline-block;
  vertical-align: top;
  max-width: 20%;
  max-height: 25em;
  text-align: center;
  background: .00000020;
  border: 0.1em solid .aacaaa;
  border-radius: 0.5em;
  padding: 0.1em;
  margin: 0.3em;
  box-shadow: inset 0 0 0.5em .aacaaa;
}

div#image_reel div.img img{
  display: block;
  cursor: pointer;
  margin: 0.5em auto 0.2em auto;
  max-width: calc(100% - 0.5em);
  max-height: 22em;
  border: 0.1em solid .000000;
  background: .000000;
}
div#image_reel div.img h5{
  display: block;
  margin: 0 auto 0.3em auto;
}

/* The image viewer. */
div#image_viewer_cover{
  position: fixed;
  opacity: 0;
  transition: all 0.7s;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99;
  background-color: .00000077;
  display: none;
}

section#image_viewer{
  position: fixed;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 70em;
  height: 53em;
  z-index: 100;
  display: none;
}

@media screen and (max-width : 800px){
  section#image_viewer{
    width: 85%;
    height: 80vh;
    left: 5%;
    top: 10vh;
    transform: translateX(0%);
  }
}

section#image_viewer h3 div#image_viewer_close{
  float: right;
  cursor: pointer;
}

section#image_viewer h3 div#image_viewer_close img{
  height: 1.5em;
  width: 1.5em;
}
section#image_viewer h3 div#image_viewer_close img:hover{
  filter: invert(70%);
}

section#image_viewer table#image_viewer_container{
  width: 100%;
  height: calc(100% - 4em);
  border-collapse: collapse;
}
@media screen and (max-width : 800px){
  section#image_viewer table#image_viewer_container{
    max-height: 60vh;
  }
}

section#image_viewer table#image_viewer_container td.control{
  width: 4em;
  text-align: center;
}

@media screen and (max-width : 900px){
  section#image_viewer table#image_viewer_container td.control{
    display: none;
  }
}

section#image_viewer table#image_viewer_container td.control img{
  width: 4em;
  cursor: pointer;
  transition: all 0.5s;
}
section#image_viewer table#image_viewer_container td.control img:hover{
  filter: invert(70%);
}

section#image_viewer table#image_viewer_container td.image{
  text-align: center;
}

section#image_viewer table#image_viewer_container td.image img{
  max-width: 100%;
  max-height: 50em;
  border: 0.1em solid .000000;
  background: .000000;
}

@media screen and (max-width : 800px){
  section#image_viewer table#image_viewer_container td.image img{
    max-width: 100%;
    max-height: 60vh;
  }
}

section#image_viewer div#secondary_controls{
  display: none;
}
@media screen and (max-width : 900px){
  section#image_viewer div#secondary_controls{
    display: block;
  }
}

section#image_viewer div#secondary_controls img{
  width: 5em;
  height: 5em;
  margin: 0 3em;
  cursor: pointer;
}
