<script type="text/javascript" src="./js/project.js"></script>
@if(projectObs$ | async; as project){
  <section>
    <h3>{{ project.title }}</h3>
    <article>
      <div class='info_summary'>
        @if(project.logo){
          <img class='logo' src="./img/project/{{project.logo}}" alt={{project.title}}/>
        }
        <h4>{{ project.header }}</h4>
        <div class='text' [innerHTML]=project.text></div>
      </div>
      <div class='info_details'>
        @if(project['project-urls']){
          <ul class='urls'>
            <li *ngFor="let url of project['project-urls']">
              <a href="{{ url.url }}" title="{{ url.type.summary }}" target="_blank" class="url">
                <img src="./img/social/{{url.type.logo}}" alt="{{url.type.title}}" class="url"/>
                {{ url.type.title }}
              </a>
            </li>
          </ul>
        }
        @if(project.tags){
          <div class='tags'>
            <span *ngFor="let tag of project.tags">
              <img src="./img/tag/{{tag.icon}}" alt="{{tag.tag}}" title="{{tag.tag}}"/>
            </span>
          </div>
        }
        @if(project.license){
          <div class='license'>
            License:
            <img src="./img/license/{{project.license.logo}}" alt="{{project.license.legal}}" title="{{project.license.legal}}"/>
          </div>
        }
      </div>
      @if(project.comment){
        <div class='comment'>
          <div class='comment_title'>
              TODO NOTES
          </div>
          <div class="comment_text" [innerHTML]=project.comment></div>
        </div>
      }
      @if(project['project-images']){
        <div id='image_reel'>
          <div *ngFor="let img of project['project-images']; let i = index" class="img">
            <img id="img_{{ i }}" src="./img/project/{{img.image}}" alt="{{img.alt}}" title="{{img.alt}}" onClick="showImage(this);"/>
            <h5>{{img.alt}}</h5>
          </div>
        </div>
      }
    </article>
  </section>
  <div id='image_viewer_cover' onclick='closeImage();'></div>
  <section id='image_viewer'>
    <h3>
      <span id='image_viewer_title'></span>
      <div id='image_viewer_close'>
          <a onClick='closeImage();'>
              <img src='https://v-gears.inigovalentin.com/img/close.svg'/>
          </a>
      </div>
    </h3>
    <table id='image_viewer_container'>
        <td class='control'>
            <a onClick='prevImage();'>
                <img src='https://v-gears.inigovalentin.com/img/prev.svg'/>
            </a>
        </td>
        <td class='image'>
            <img id='image_viewer_image'/>
        </td>
        <td class='control'>
            <a onClick='nextImage();'>
                <img src='https://v-gears.inigovalentin.com/img/next.svg'/>
            </a>
        </td>
    </table>
    <div id='secondary_controls'>
        <a onClick='prevImage();'>
            <img src='https://v-gears.inigovalentin.com/img/prev.svg'/>
        </a>
        <a onClick='nextImage();'>
            <img src='https://v-gears.inigovalentin.com/img/next.svg'/>
        </a>
    </div>
  </section>
}

