/*
 * Colors across the site.
 */
$bg: #000000;
$a-base: #555555;
$a-shadow: #7777ff;
$a-hover: #777777;
$a-visited: #555555;
$cover: #000000bb;
$section-bg: #f0f0f0;
$section-border: #003300;
$section-title: #ffffff;
$section-title-bg: #60ae29;
$section-title-border: #003300;
$article-bg: #fafafa;
$article-cover: linear-gradient(to top, #fafafaff 0%, #fafafaee 30%, #fafafa00 100%);
$article-border: #e4eae4;
$button: #dddddd;
$button-bg: #278c3a;
$button-border: #66bf38;
$button-shadow: #000000;
$button-hover: #ffffff;
$button-hover-bg: #34b94d;
$button-hover-border: #285710;
$button-hover-shadow: #000000;
$input: #224422;
$input-bg: #bbccbb;
$input-border: #66bf38;
$input-border-error: #ff8c05;
$input-shadow: #000000;
$input-placeholder: #333333;
$icon-border: #60ae29;

/*
 * Header and footer
 */
$header: #ffffff;
$footer-separator: #444444;
$footer-icon-bg: #ffffff;
$footer-icon-border: #60ae29;
$footer-icon-shadow: #111111;

/*
 * Project view
 */
$project-details: #000000aa;
$project-details-gradient: linear-gradient(to right, #e5f0e5ff 0%, #e5f0e5cc 30%, #e5f0e500 100%);
$project-details-gradient-simmetrical: linear-gradient(to right, #e5f0e5ff 0%, #e5f0e5cc 30%, #e5f0e5ff 100%);
$project-details-border: #aacaaa;

