/*
 * Font definitions.
 */
$nunito: 'Nunito';
$nunito-src: url('/font/Nunito-Regular.ttf');
$mono: 'Mono';
$mono-src: url('/font/NotoMono-Regular.ttf');
$mono-src-bold: url('/font/NotoMono-Regular.ttf');
$handwritten: 'Handwritten';
$handwritten-src: url('/font/Handwritten.ttf');

