# This file is an example of an .env file with all the values needed by the application.
# Copy and rename this file, set the values to the ones needed by your application, and run the
# server with 'node --env-file=<your_file>.env app.js'.
# Never add the modified file to version control.

# Database connection parameters
DB_HOST = "localhost"
DB_PORT = 3306
DB_USER = "user"
DB_PASS = "password"
DB_NAME = "name"
DB_TYPE = "mysql"

# Server settings
SRV_MODE = "EXAMPLE"
SRV_PORT = 8080

# Encryption secret
SECRET = "CHANGEME"
TOKEN_ISSUER = "CHANGEME"
