<section id='profile_details'>
  <h3>{{user?.firstName}} {{user?.lastName}}</h3>
  <article>
    <img id='image' src="./img/user/{{user?.image}}" alt="{{user?.firstName}} {{user?.lastName}}"/>
    <h4 id='tagline'>{{texts["TAGLINE"]}}</h4>
    <div id='social'>
      <span class='fake_a' onclick='openMessage();'>
        <img src='./img/social/email.svg' alt="{{'FOOTER.MESSAGE' | translate}}" title="{{'FOOTER.MESSAGE' | translate}}"/>
        <span>{{'FOOTER.MESSAGE' | translate}}</span>
      </span>
      <a *ngFor="let url of user?.urls" target='_blank' title='{{url.description}}' href='{{url.url}}'>
        <img src='./img/social/{{url.logo}}' alt='{{url.name}}' title='{{url.description}}'/>
        <span>{{url.description}}</span>
      </a>
    </div>
  </article>
</section>
<section id='profile_bio'>
  <h3>{{'PROFILE.ABOUT' | translate}}</h3>
  <article>
    <div id='bio' [innerHTML]="texts['BIO']"></div>
  </article>
</section>
