/**********************************
 * Fonts used across the page     *
 **********************************/

/* Font */
@font-face {
    font-family: 'Nunito'; 
    src: url('/fonts/Nunito-Regular.ttf'); 
}

/**********************************
 * Styles to be applied across    *
 * all the site for all the       *
 * elements of it's type          *
 **********************************/

/* Styles for the body of the page */
body{
    background-color: #111111;
}

/* Style for all links */
a{
    color: #555555;
    text-shadow: 0 0 0.5em #7777ff;
    text-decoration: none;
}

/* Elements fith bold font */
.bold{
    font-weight: bold;
}

.pointer {
    cursor: pointer;
}

/* Hidden elements */
.hidden{
    display: none;
}

img.slider{
    width: 1em;
    height: 1em;
    vertial-align: middle;
    transition: all .3s ease-in-out;
}

div#cover{
    display: none;
    background-color: #000000bb;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

div#dialog{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    text-align: center;
    z-index: 1;
}

div#dialog div#dialog_background{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000088;
    z-index: -1;
}

div#dialog div.section{
    width: 50%;
    height: 50%;
    margin: 5em auto auto auto;
    z-index: 1;
}


/**********************************
 * Header style                  *
 **********************************/

div#header{
    background-color: #000000;
    margin: 0;
    width: 100%;
    height: 2em;
    padding: 0;
}

div#header img{
    height: 1.6em;
    vertical-align: center;
}

div#header table{
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-spacing: 0;
    border-collapse: collapse;
    margin: 0;
    table-layout: fixed;
}

div#header td{
    color: #dddddd;
    font-weight: bold;
    text-align: center;
}

div#header td a{
    color: #dddddd;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    transition: all .3s ease-in-out;
}


/******************************************
 * Secondary header.                     *
 ******************************************/
div.secondary_header{
    background-color: #333333;
    margin: 0;
    display: none;
    width: 100%;
    height: 2em;
}

div.secondary_header table{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    table-layout: fixed;
}

div.secondary_header td{
    text-align: center;
}

div.secondary_header td a{
    color: #dddddd;
    font-weight: bold;
    text-align: center;
    text-shadow: none;
    text-decoration: none;
    transition: all .3s ease-in-out;
}

div.secondary_header td a:hover{
    color: #dddddd;
    text-shadow: none;
    text-decoration: none;
}


/**********************************
 * Styles for the elements that   *
 * compose the basic strucure of  *
 * the site.                      *
 **********************************/

/* The content is everything between the header and the footer */
div#content{
    position: relative;
    width: 100%;
    height: 100%;
    margin-bottom: 1.875em;
}

div.section{
    margin: 0.5em;
    padding: 0;
    background-color: #ffffff;
    border: 0.063em solid #005500;
    border-radius: 1em 1em;
    box-shadow: 0 0 0.75em #003300;
    overflow: hidden;
}

div.section h3.section_title{
    font-weight: bold;
    color: #ccddff;
    text_align: left;
    padding: 0.2em 0.4em 0.2em 0.4em;
    margin: 0;
    text-shadow: 0 0 0.4em #000022;
    font-size: 150%;
    background: linear-gradient(to bottom, #1e9957 0%,#29d889 89%,#20ca7c 97%,#7de8b9 100%);
}

/* .entry is a style only class to show content. Must be allways children os a .lighted element */
div.section div.entry{
    border: 0.1em solid #aaffaa00;
    border-radius: 0.3em;
    padding: 0.5em;
    margin: 0.5em;
    transition: all .4s ease-in-out;
}

div.section div.entry_list:hover{
    background-color: #efffef;
    border: 0.1em solid #aaffaaff;
}



/* Style for the mathces in search results */
span.result_counter{
    margin-left: 1.2em;
    margin-bottom: 0.5em;
    font-weight: bold;
    font-style: italic;
}

/* Shown when no records on database */
div.unavailable{
    margin-left: 4em;
    font-style: italic;
}


/**********************************
 * Styles to be applied to some   *
 * horizontally scrollable        *
 * elements                       *
 **********************************/

/* Horizontall scrollbar that apears when a project has lots of renders */
.slider::-webkit-scrollbar{
    width: 0.5em;
    height: 0.25em;
    background-color: #444444;
} 
.slider::-webkit-scrollbar-thumb{
    background-color: #cccccc;
    border-radius: 0.714em;
}
.slider::-webkit-scrollbar-thumb:hover{
    background-color: #cccccc;
    border: 0.143em solid #000000;
}
.slider::-webkit-scrollbar-thumb:active{
    background-color: #cccccc;
    border: 0.143em solid #000000;
}

/* Icons for sharing page in a social network */
img.social_icon{
    width: 4.286em;
    height: 4.286em;
}

/* Elements that should have the cursor as pointer */
.pointer{
    cursor: pointer;
}



/**********************************
 * Styles for diverse input       *
 * elements. Type-assigned        *
 **********************************/

/* Font for all the input elements */
input{
    font-family: 'Nunito';
}

/* Style forr buttons */
input[type=button], input[type=submit]{
    font-weight: bold;
    color: #cccccc;
    background-color: #555555;
    border: 0.143em solid #bbbbbb;
    border-radius: 0.429em;
    padding: 0.5em;
    text-shadow: 0 0 0.75em #000000;
    cursor: pointer;
}

/* Style for textboxes */
input[type=text], input[type=password]{
    font-weight: bold;
    color: #224422;
    background-color: #bbccbb;
    border: 0.286em solid #ddeedd; 
    border-color: #dddddd;
    border-radius: 0.429em;
    padding: 0.25em;
    text-shadow: 0 0 0.5em #ffffff;
}

input[type=checkbox]{
    width: 1em;
    height: 1em;
    border-radius: 0.2em;
    border: 0.063em solid #005500;
}

/* Style for textareas */
textarea{
    width: 80%;
    font-weight: bold;
    color: #444444;
    background-color: #bbbbbb;
    border: 0.286em solid #dddddd; 
    border-color: #dddddd;
    border-radius: 0.286em;
    padding: 0.25em;
    text-shadow: 0 0 0.5em #ffffff;
    resize: none;
}

/* Style for selects */
select{
    font-weight: bold;
    color: #444444;
    background-color: #bbbbbb;
    border: 0.286em solid #dddddd; 
    border-radius: 0.286em;
    padding: 0.25em;
    text-shadow: 0 0 0.5em #ffffff;
}

/* Style for placeholders in input fields */
::-webkit-input-placeholder { /* WebKit browsers */
    color: #777777;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #777777;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #777777;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #777777;
}

/* Style-only class user to indicate that a field is incorrect. Ususally this class is added to an element with js */
.error{
    border-color: #ffaaaa;
}

/* Style for the textbox input when the entered text is not the expected one */
input[type=text].error, input[type=password].error{
    border-color: #ffaaaa;
}

/* Style for the textared input when the entered text is not the expected one */
textarea.error{
    border-color: #ffaaaa;
}

/* Style for buttons that act as links */
a.a_button{
    display: inline-block;
    color: #cccccc;
    background-color: #555555;
    border: 0.143em solid #bbbbbb;
    border-radius: 0.429em;
    padding: 0.5em;
    text-shadow: 0 0 0.75em #000000;
    text-decoration: none;
    font: -webkit-small-control;
    font-family: 'Nunito';
    font-weight: bold;
}



/**********************************
 * Styles for editable items  .   *
 * horizontally scrollable        *
 * elements                       *
 **********************************/

/* Field value, not editing */
.editable .field_result{
    display: initial;
}

/* Button to start editing*/
.editable .button_edit{
    display: initial;
    cursor: pointer;
    max-width: 1.2em;
    vertical-align: middle;
}

/* Field value, editing. */
.editable .field_editable{
    display: none;
}

/* Field value, editing, textarea <-> cke */
.editable .cke{
    display: none;
}

/* Button to save edition. */
.editable .button_save{
    display: none;
    cursor: pointer;
    max-width: 1.2em;
    vertical-align: middle;
}

/* Button to save edition. */
.editable .button_cancel{
    display: none;
    cursor: pointer;
    max-width: 1.2em;
    vertical-align: middle;
}

/******************************************
* Language selectors                      *
******************************************/

div#lang_tabs{
    margin-top: 2em;
    margin-bottom: 2em;
}

div#lang_tabs table{
    width: 100%;
}

div#lang_tabs td{
    color: #555555;
    font-weight: bold;
    width: 33%;
    border: 0.1em solid black;
    margin: 0;
}

div#lang_tabs td.lang_tabs_active{
    color: #0078ff;
    border-bottom: 0.1em solid #ffffff;
}

div.content_lang{
    display: none;
}

div.content_lang_active{
    display: initial;
}
