<section id='home_profile'>
  <h3>{{user?.firstName}} {{user?.lastName}}</h3>
  <article>
    <h4 id='tagline'>{{texts["TAGLINE"]}}</h4>
    <img id='profile_image' src="./img/user/{{user?.image}}" alt="{{user?.firstName}} {{user?.lastName}}"/>
    <div id='profile_social'>
      <span class='fake_a' onclick='openMessage();'>
        <img src='./img/social/email.svg' alt="{{'FOOTER.MESSAGE' | translate}}" title="{{'FOOTER.MESSAGE' | translate}}"/>
      </span>
      @if(user?.urls){
        <a *ngFor="let url of user?.urls" target='_blank' title='{{url.description}}' href='{{url.url}}'>
          <img src='./img/social/{{url.logo}}' alt='{{url.name}}' title='{{url.description}}'/>
        </a>
      }
    </div>
    <div [innerHTML]="texts['BIO_SHORT']" id='bio'></div>
  </article>
  <div class="button">
    <a id='more' class='a_button' href="/profile/">{{'PROFILE.MORE' | translate}}</a>
  </div>
</section>
<section id='home_projects'>
  <h3>{{'SECTION.PROJECTS' | translate}}</h3>
  <app-project-preview *ngFor="let project of projects" [project]="project"></app-project-preview>
  <div class="button">
    <a id='all_projects' class='a_button' href="/projects/">{{'PROJECT.ALL' | translate}}</a>
  </div>
</section>
