/* Profile section. */
div#left{
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin: 0;
    padding: 1em;
}

div#left div#profile_container img#profile{
    width: 200px;
    height: 200px;
    border: 0.2em solid #446644;
    border-radius: 1em 5em;
}

/* Projects section. */
div#right{
    display: inline-block;
    vertical-align: top;
    width: 46%;
    margin: 0;
    padding: 1em;
}
