<footer>
  <hr/>
  <div id='footer_left'>
    <span id='footer_follow' class='desktop' i18n>{{'FOOTER.FOLLOW' | translate}}:</span>
    <span class='fake_a' onclick='openMessage();'>
      <img src='./img/social/email.svg' alt="{{'FOOTER.MESSAGE' | translate}}" title="{{'FOOTER.MESSAGE' | translate}}"/>
    </span>
    <a *ngFor="let url of user?.urls" target='_blank' title='{{url.description}}' href='{{url.url}}'>
      <img src='./img/social/{{url.logo}}' alt='{{url.name}}' title='{{url.description}}'/>
    </a>
  </div>
  <div id='footer_center'>
    <span>{{copyright}}</span>
  </div>
  <div id='footer_right'>
    <a id='footer_help' href='/help/'>{{'FOOTER.HELP' | translate}}</a>
    <div id='footer_langs'>
      <a *ngFor="let lang of availableLangs" target='_blank' class='lang' title='{{lang.name}}' (click)="changeLanguage(lang.code)">
        <img src='./img/lang/{{lang.code}}.svg' alt='{{lang.name}}' title='{{lang.name}}'/>
      </a>
    </div>
  </div>
</footer>
<app-message></app-message>
