<article class='project_preview'>
  <a ngIf="project.logo" class='logo' routerLink="/projects/{{project.permalink}}">
    <img class="logo" src="./img/project/{{project.logo}}" alt={{project.title}} />
  </a>
  <div class='details'>
    <h4 class='title'>{{project.title}}</h4>
    <h5 class='header'>{{project.header}}</h5>
    <div class='text' [innerHTML]=project.text></div>
    <div class='details_cover'></div>
  </div>
  <div class='tags'>
    <span *ngFor="let tag of project.tags">
      <img src="./img/tag/{{tag.icon}}" alt="{{tag.tag}}" title="{{tag.tag}}"/>
    </span>
  </div>
  <div class='button'>
    <a class='a_button' routerLink="/projects/{{project.permalink}}" i18n>
      {{'SEE_MORE' | translate}}
    </a>
  </div>
</article>
