/* Blog main page */

dov#content{
    display: table;
}

div#content div#content_row{
    display: table-row;
}

div#content div#content_row div.content_cell{
    padding: 1em;
    display: table-cell;
}

div#post_list img.post_list_image{
    float: left;
    background-color: #ffffff;
    border: 0.1em solid #003300;
    border-radius: 0.3em;
    margin: 0 0.7em 0.7em 0.7em;
    max-width: 5em;
    max-height: 3em;
}

div#post_list table.post_list_footer{
    font-size: 80%;
    width: 100%;
}

div#post_list table.post_list_footer td.comment_counter{
    font-style: italic;
    text-align: right;
}

div#post_list span.tags{
    font-size: 80%;
    font-style: italic;
}

/* Post view page */

div#content_cell_post{
    width: 75%;
}

div#content_cell_info{
    width: 25%;
    min-width: 8em;
    max-width: 20em;
}

div#post img#post_main_image{
    display: block;
    max-height: 11em;
    margin: 0.5em auto 1em auto;
    border: 0.1em solid #003400;
    border-radius: 0.5em;
    background-color: #ffffff;
}

div#post div#image_reel{
    overflow-x: scroll;
    border: 0.1em solid #003400;
    border-radius: 0.3em;
    height: 7em;
    background-color: #334433;
    padding: 0.5em;
}

div#post div#image_reel img{
    vertical-align: middle;
    max-height: 5em;
    max-width: 7em;
    border: 0.2em solid #003400;
    border-radius: 0.1em;
    margin: 0.5em;
    background-color: #ffffff;
}

div#info table#post_details td{
    width: 50%;
    padding: 0.5em 1em 0.5em 1em;
}

div#info div#info_date{
    text-align: center;
    font-style: italic;
    font-size: 70%;
    opacity: 80%;
}

div#info div#info_share{
    text-align: center;
}

div#info div#info_tags{
    font-size: 80%;
    opacity: 90%;
}

div#info table#prev_next{
    border-collapse: collapse;
    margin: 1em auto 1em auto;
}

div#info table#prev_next td{
    width: 50%;
    padding: 0.5em;
}

div#info table#prev_next td#prev{
    border-right: 0.03em solid #00440088;
    margin-right: 0.5em;
    text-align: right;
}

div#info table#prev_next td#next{
    border-left: 0.03em solid #00440088;
    margin-left: 0.5em;
    text-align: left;
}

div#info table#prev_next td span.info{
    font-size: 80%;
}

div#info table#prev_next td span.title{
    font-weight: bold;
}
