/****************************************
 * Pages layout.                        *
 ****************************************/
div#content{
    display: table;
}

div#content div#content_row{
    display: table-row;
}

div#content div#content_row div.content_cell{
    padding: 1em;
    display: table-cell;
    vertical-align: top;
}

div#content div#content_row div#content_cell_main{
    width: 75%;
}

div#content div#content_row div#content_cell_info{
    /* Post info container. */
    width: 25%;
    min-width: 8em;
    max-width: 20em;
}


/****************************************
 * Right panel.                         *
 ****************************************/
div#info hr{
    margin: 0 5% 0 5%;
    opacity: 0.3;
}

div#info h4{
    margin-top: 0.2em;
    margin-bottom: 0.2em;
}

div#info div.entry{
    margin: 0.2em;
}

div#info div#info_date{
    /* Date of the post. */
    text-align: center;
    font-style: italic;
    font-size: 70%;
    opacity: 80%;
}

div#info div#info_share{
    /* Share icons. */
}

div#info div#info_share div#social{
    text-align: center;
}

div#info div#info_tags{
    /* Post tages. */
    font-size: 80%;
    opacity: 90%;
}

div#info div#info_prev_next{
    /* Previous / next post. */
}

div#info div#info_prev_next table#prev_next{
    /* Previous/next posts links. */
    border-collapse: collapse;
    margin: 0 auto 0 auto;
}

div#info div#info_prev_next table#prev_next td{
    width: 50%;
    padding: 0.5em;
}

div#info div#info_prev_next table#prev_next td#prev{
    border-right: 0.03em solid #00440088;
    margin-right: 0.5em;
    text-align: right;
}

div#info div#info_prev_next table#prev_next td#next{
    border-left: 0.03em solid #00440088;
    margin-left: 0.5em;
    text-align: left;
}

div#info div#info_prev_next table#prev_next td span.info{
    font-size: 80%;
}

div#info div#info_prev_next table#prev_next td span.title{
    font-weight: bold;
}

div#info div#info_related{
    /* Related posts. */
}

div#info div#info_related ul{
    margin: 0 0 0 0.6em;
    padding-left: 0.7em;
}

div#info div#info_related ul li{
    margin: 0;
}

div#info div#info_search{
    /* Post search form. */
}

div#info div#info_search input#search_panel_input{
    display: inline-block;
    width: 60%;
}

div#info div#info_search input#search_panel_submit{
    display: inline-block;
    width: 30%;
}

div#info div#info_tag_cloud{
    /* Tag cloud. */
}

div#info div#info_tag_cloud div#cloud{
    text-align: center;
}

div#info div#info_all{
    /* Post archive. */
    margin-right: 0;
    padding-right: 0;
}

div#info_all div.list_year{
    /* Year list in the archive.*/
    margin-left: 1em;
    max-height: 0em;
    overflow-y: hidden;
    transition: max-height 0.6s ease-in-out;
}

div#info_all ul.post_list{
    margin-top: 0em;
    margin-bottom: 0em;
    max-height: 0em;
    overflow-y: hidden;
    transition: max-height 0.6s ease-in-out;
}

div#info_all ul.post_list li{
    padding: 0.2em 0 0 0;
}

div#info_all div.post_list_image_container{
    text-align: center;
}

div#info_all img.post_list_image{
    float: center;
    max-width: 15em;
    max-width: 90%;
    max-height: 9em;
    margin: 0.5em 1em 0 0.5em;
    border: 0.15em solid #333333;
    border-radius: 0.2em;
    box-shadow: 0 0 0.5em #111111;
}


/****************************************
 * Blog main page.                      *
 ****************************************/
div#post_list img.post_list_image{
    float: left;
    background-color: #ffffff;
    border: 0.1em solid #003300;
    border-radius: 0.3em;
    margin: 0 0.7em 0.7em 0.7em;
    max-width: 5em;
    max-height: 3em;
}

div#post_list table.post_list_footer{
    font-size: 80%;
    width: 100%;
}

div#post_list table.post_list_footer td.comment_counter{
    font-style: italic;
    text-align: right;
}

div#post_list span.tags{
    font-size: 80%;
    font-style: italic;
}


/****************************************
 * Post view page.                      *
 ****************************************/
div#content_cell_post{
    /* Post and comments container. */
    width: 75%;
}

div#post img#post_main_image{
    /* Post main image. */
    display: block;
    max-height: 11em;
    margin: 0.5em auto 1em auto;
    border: 0.1em solid #003400;
    border-radius: 0.5em;
    background-color: #ffffff;
}

div#post div#image_reel{
    /* Post secondary images container. */
    overflow-x: scroll;
    border: 0.1em solid #003400;
    border-radius: 0.3em;
    height: 7em;
    background-color: #334433;
    padding: 0.5em;
}

div#post div#image_reel img{
    /* Secondary images of the post. */
    vertical-align: middle;
    max-height: 5em;
    max-width: 7em;
    border: 0.2em solid #003400;
    border-radius: 0.1em;
    margin: 0.5em;
    background-color: #ffffff;
}
