/* Page logo in the top of the toolbar */
div#logo{
    width: 100%;
    text-align: center;
}
div#logo img{
    max-height: 7em;
}

div#content{
    display: table;
}

div#content div#content_row{
    display: table-row;
}

div#content div#content_row div.content_cell{
    display: table-cell;
    vertical-align: top;
    margin:1em;
}

div#content div#content_row div#content_cell_profile{
    width: 30%;
}

div#content div#content_row div#content_cell_content{
    width: 70%;
}

/* Projects section */
div#projects_section img.project_list_image{
    float: left;
    background-color: #ffffff;
    border: 0.1em solid #003300;
    border-radius: 0.3em;
    margin: 0 0.5em 0.5em 0.5em;
    max-width: 5em;
    max-height: 3em;
}


/* Blog section */
div#blog_section img.post_list_image{
    float: left;
    background-color: #ffffff;
    border: 0.1em solid #003300;
    border-radius: 0.3em;
    margin: 0 0.5em 0.5em 0.5em;
    max-width: 5em;
    max-height: 3em;
}

div#blog_section table.post_list_footer{
    font-size: 80%;
    width: 100%;
}

div#blog_section table.post_list_footer td.comment_counter{
    font-style: italic;
    text-align: right;
}
