div.cv_entry{
    
}

div.role{
    margin: 0.5em 1em 0.5em 1em;
    border-bottom-left-radius: 0.5em;
    border-left: 0.2em solid #000000;
    padding: 0.5em;
}

div.role h4{
}

div.role h5{
    font-style: italic;
}
